/* Import index.css */
@import url('./index.css');

body {
    margin: 0;
    line-height: normal;
    color: var(--dark-background);
}

a {
    text-decoration: none;
    color: var(--dark-secondary);
}

:root {
    
    /* fonts */
    --body: 'One UI Sans APP VF';
    
    /* font sizes */
    --font-size-2xs: 11px;
    --body-size: 14px;
    --subheading-size: 18px;
    --subtitle-size: 20px;
    --title-size: 36px;
    
    /* Colors */
    --dark-background: #000;
    --dark-secondary: #848487;
    --dark-container-background: #17171a;
    --dark-primary: #fff;
    --light-background: #f1f1f3;
    --light-secondary: #99999d;
    --light-container-background: #fff;
    --light-primary: #000;
    --accent: #387aff;
    
    /* Gaps */
    --gap-xl: 10px;
    --gap-xll: 20px;
    --gap-11xs: 2px;
    
    /* Paddings */
    --padding-xl: 20px;
    
    /* Border radiuses */
    --br-9xl: 28px;
    --br-10xl: 40px;
    --br-11xs: 2px;
    
}

@font-face {
    font-family: 'One UI Sans';
        src: url(src/styles/fonts/oneuisans.ttf) format('truetype supports variations');
        src: url(src/styles/fonts/oneuisans.ttf) format('truetype-variations');
        font-weight: 100 900;
    }

@media screen and (max-width: 500px) {
    .containers {
        padding: 0 16%;
    }
}

@media screen and (max-width: 900px) {
    .containers {
        padding: 0 34%;
    }
}

