/* Base Card Styles */
.card {
    background-color: var(--secondary);
    color: var(--text);
    width: 80%;
    height: auto;
    border-radius: 18px;
    overflow: hidden;
    white-space: nowrap;
    transition: all .3s ease;
    display: flex;
    flex-direction: column;
}

.card img {
    width: 100%;
    display: block;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 15px;
}

.button {
    display: inline-block;
    background-color: var(--primary);
    color: white;
    padding: 8px 12px;
    border-radius: 20px;
    margin: 0 10px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.button:hover {
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
}

/* Styles for WhatsApp Card (concepts.html) */
.whatsapp {
    background-color: #F5FFF1;
}

.whatsapp .button {
    background-color: #15603F;
}

.whatsapp .button:hover {
    background-color: #C1F99F;
}

/* Styles for Youtube Card (concepts.html) */
.youtube {
    background-color: #f9ebe8;
}

.youtube .button {
    background-color: #6e1b11;
}

.youtube .button:hover {
    background-color: hsl(5, 68%, 10%);
    ;
}

/* Styles for Twitter Card (concepts.html) */
.twitter {
    background-color: #b4d6ff;
}

.twitter .button {
    background-color: #5a8cc6;
}

.twitter .button:hover {
    background-color: hsl(210, 46%, 10%);
}

/* Wallpaper Cards (wallpapers.html) */
.wallpaper-card:nth-child(1) {
    background-color: #5e1e1e;
}

.wallpaper-card:nth-child(2) {
    background-color: #dff0ea;
}

.wallpaper-card:nth-child(3) {
    background-color: #15614c;
}

.wallpaper-card:nth-child(4) {
    background-color: #9c927c;
}

.wallpaper-card:nth-child(5) {
    background-color: #7a9983;
}

/* Banners (banners.html) */
.banner {
    width: 85%;
    height: auto;
    border-radius: 18px;
    border: 8px solid var(--secondary);
    transition: all 0.5s ease;
}

.banner:hover {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}


/* Social Cards (contact.html) */
.social-card {
    justify-content: center;
    align-items: left;
    text-align: left;
    height: auto;
}

.social-card .card-body {
    margin: 10px;
    height: fit-content;
}

.social-card .card-content {
    justify-content: flex-start;
    padding: 0;
}

.social-card .card-body {
    margin: 10px;
}

.card-icon {
    font-size: 48px;
    color: var(--accent);
    margin-right: 15px;
    transition: color 0.2s ease-in-out;
}

.arrow {
    font-size: 16px;
    color: var(--text);
    vertical-align: -3px;
    transition: transform 0.3s ease-in-out;
}

.social-card:hover .arrow {
    transform: scale(1.02) translateX(4px) translateY(-4px);
}

/* Class for applying Pulse animation to cards (wallpapers.html, socials.html) */
.animated {
    animation: pulse 2s infinite;
}

/* Keyframes */
@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0.7);
    }

    70% {
        box-shadow: 0 0 0 5px rgba(52, 172, 224, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(52, 172, 224, 0);
    }
}

/* Media Queries */
/* For Tablets */
@media screen and (min-width: 769px) {
    .card {
        width: 40%;
    }
}

/* For Desktops */
@media screen and (min-width: 1024px) {
    .card {
        width: 350px;
    }

    .banner {
        width: 30rem;
    }
}

@media (min-width: 1441px) {
    .card {
        width: 450px;
    }
}
