#settings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.setting {
    margin: 0 auto;
    width: 85%;
    display: flex;
    text-align: left;
    justify-content: space-between;
    gap: 20px;
    align-items: center;
    flex-direction: row;
}

.setting .options {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
}

.theme-option {
    display: none;
}

.theme-label {
    background-color: var(--primary);
    border: 2px solid var(--secondary);
    color: var(--text);
    transition: background-color 0.2s ease-in-out;
}

.theme-label:hover {
    background-color: var(--accent);
    color: #fff;
    border: 2px solid var(--accent);
    transition: background-color 0.2s ease-in-out;
}

input[type="radio"]:checked+label {
    background-color: var(--accent);
    border: var(--accent) 2px solid;
    color: var(--text);
}

.toggle {
    font-size: 14px;
    position: relative;
    width: 50px;
    height: 25px;
    overflow: hidden;
    border-radius: 20px;
}

.toggle input {
    display: none;
}

.toggle .toggle-slider {
    position: absolute;
    cursor: pointer;
    inset: 0;
    transition: 0.2s;
    border-radius: 100px;
    background-color: var(--secondary);
}

.toggle .toggle-slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    border-radius: 20px;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    transition: 0.2s;
}

.toggle input:checked+.toggle-slider {
    background-color: var(--accent);
}

.toggle input:focus+.toggle-slider {
    box-shadow: 0 0 1px var(--accent);
}

.toggle input:checked+.toggle-slider:before {
    transform: translate(25px, -50%);
}

@media screen and (min-width: 1024px) {
    .setting {
        width: 70%;
    }
}