/* This file (styles.css) contains all the common styles used for all the webpages */
html {
    scroll-behavior: smooth;
    color-scheme: var(--color-scheme);
}

/* Color Palettes */

/* Light Mode */
html[data-theme="light"] {
    --text: #000;
    --background: #d3e3f6;
    --background-gradient: linear-gradient(45deg, #c9ddff 10%, transparent 11%, transparent 89%, #c9ddff 90%), linear-gradient(135deg, #c9ddff 10%, transparent 11%, transparent 89%, #c9ddff 90%), radial-gradient(circle, transparent 25%, var(--background) 26%), linear-gradient(45deg, transparent 46%, #c9ddff 47%, #c9ddff 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #c9ddff 47%, #c9ddff 52%, transparent 53%);
    --primary: #9dbadc;
    --secondary: #b9cfeA;
    --accent: #5a8cc6;
    --blurBg: rgb(255, 255, 255, 0.4);
    --color-scheme: light;
}

html[data-theme="light"] .divider {
    background-color: var(--primary);
}

html[data-theme="dark"] .divider {
    background-color: var(--secondary);
}

/* Dark Mode*/
html[data-theme="dark"] {
    --text: #fff;
    --background: #1f1f1d;
    --background-gradient: linear-gradient(45deg, #222 10%, transparent 11%, transparent 89%, #222 90%),
        linear-gradient(135deg, #222222 10%, transparent 11%, transparent 89%, #222 90%),
        radial-gradient(circle, transparent 25%, var(--background) 26%),
        linear-gradient(45deg, transparent 46%, #222 47%, #222 52%, transparent 53%),
        linear-gradient(135deg, transparent 46%, #222 47%, #222 52%, transparent 53%);
    --primary: #2c2c2e;
    --secondary: #454545;
    --accent: #61a2d4;
    --blurBg: rgb(0, 0, 0, 0.4);
    --color-scheme: dark;
}

/* Follow System */
@media (prefers-color-scheme: light) {
    html[data-theme="auto"] {
        --text: #000;
        --background: #d3e3f6;
        --background-gradient: linear-gradient(45deg, #c9ddff 10%, transparent 11%, transparent 89%, #c9ddff 90%), linear-gradient(135deg, #c9ddff 10%, transparent 11%, transparent 89%, #c9ddff 90%), radial-gradient(circle, transparent 25%, var(--background) 26%), linear-gradient(45deg, transparent 46%, #c9ddff 47%, #c9ddff 52%, transparent 53%), linear-gradient(135deg, transparent 46%, #c9ddff 47%, #c9ddff 52%, transparent 53%);
        --primary: #9dbadc;
        --secondary: #b9cfeA;
        --accent: #5a8cc6;
        --blurBg: rgb(255, 255, 255, 0.4);
        --color-scheme: light;
    }

    .divider {
        background-color: var(--primary);
    }
}

@media (prefers-color-scheme: dark) {
    html[data-theme="auto"] {
        --text: #fff;
        --background: #1f1f1d;
        --background-gradient: linear-gradient(45deg, #222 10%, transparent 11%, transparent 89%, #222 90%),
            linear-gradient(135deg, #222 10%, transparent 11%, transparent 89%, #222 90%),
            radial-gradient(circle, transparent 25%, var(--background) 26%),
            linear-gradient(45deg, transparent 46%, #222 47%, #222 52%, transparent 53%),
            linear-gradient(135deg, transparent 46%, #222 47%, #222 52%, transparent 53%);
        --primary: #2c2c2e;
        --secondary: #454545;
        --accent: #61a2d4;
        --blurBg: rgb(0, 0, 0, 0.4);
        --color-scheme: dark;
    }

    .divider {
        background-color: var(--secondary);
    }
}

/* Background Pattern */
html[data-pattern="enabled"] {
    --gradient: var(--background-gradient);
}

html[data-pattern="disabled"] {
    --gradient: none;
}

/* Animations */
html[data-animation="disabled"] * {
    animation: none !important;
    transition: none !important;
}

html[data-animation="disabled"] .social-card:hover .arrow {
    transform: none !important;
}

/* Google Sans */
@font-face {
    font-family: 'Google Sans';
    src: url('./src/fonts/GoogleSans-Bold.woff2') format('woff2'),
         url('./src/fonts/GoogleSans-Bold.woff') format('woff'),
         url('./src/fonts/GoogleSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('./src/fonts/GoogleSans-Medium.woff2') format('woff2'),
         url('./src/fonts/GoogleSans-Medium.woff') format('woff'),
         url('./src/fonts/GoogleSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans Text';
    src: url('./src/fonts/GoogleSansText-Regular.woff2') format('woff2'),
         url('./src/fonts/GoogleSansText-Regular.woff') format('woff'),
         url('./src/fonts/GoogleSansText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans Text';
    src: url('./src/fontsGoogleSansText-Medium.woff2') format('woff2'),
         url('./src/fonts/GoogleSansText-Medium.woff') format('woff'),
         url('./src/fonts/GoogleSansText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
    font-display: swap;
}

@font-face {
    font-family: 'Google Sans';
    src: url('./src/fonts/GoogleSans-Regular.woff2') format('woff2'),
         url('./src/fonts/GoogleSans-Regular.woff') format('woff'),
         url('./src/fonts/GoogleSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



/* Default Tags */
body {
    background: var(--gradient);
    background-color: var(--background);
    background-size: 4em 4em;
    color: var(--text);
    background-attachment: fixed;
    text-align: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1 {
    font-family: 'Google Sans', Arial;
    font-weight: normal;
}

h2,
h3,
h4 {
    font-family: 'General Sans', Arial;
    font-weight: 600;
}

h5,
h6,
li,
a {
    font-family: 'General Sans', Arial;
    font-weight: thin;
}

/* NavPill */
nav {
    position: fixed;
    width: 100%;
    height: 90px;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blurBg);
    border-radius: 45px;
    position: fixed;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.17);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: width 0.3s, align-items 0.3s;
}

.nav-pills .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.nav-pills .nav-item:hover {
    background-color: var(--blurBg);
}

.nav-pills .nav-link.active {
    color: var(--text);
    background-color: var(--accent);
    border-radius: 40px;
}

.nav-pills .nav-link.active>.material-symbols-rounded {
    filter: invert(100%);
    font-variation-settings: 'FILL' 1;
}

.nav-pills .nav-link.active>.label {
    filter: invert(100%);
}

.nav-pills .nav-link {
    color: var(--text) !important;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    white-space: nowrap;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-pills .nav-link h5.label {
    display: none;
    margin: 0 0 0 10px;
}

ul.my-tech-list {
    list-style: none;
    padding-left: 0;
}

ul.my-tech-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    margin-bottom: 20px;
}

ul.my-tech-list li::before {
    color: var(--accent);
    font-family: 'Material Symbols Rounded';
    margin-right: 10px;
    font-size: 20px;
}

ul.my-tech-list li:nth-child(1)::before {
    content: 'smartphone';
}

ul.my-tech-list li:nth-child(2)::before {
    content: 'watch';
}

ul.my-tech-list li:nth-child(3)::before {
    content: 'headphones';
}

ul.my-tech-list li:nth-child(4)::before {
    content: 'head_mounted_device';
}

ul.my-tech-list li:nth-child(5)::before {
    content: 'stadia_controller';
}

ul.my-tech-list li:nth-child(6)::before {
    content: 'videogame_asset';
}

/* Main Container for homepage in which logo and name is wrapped (index)*/
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

/* Logo */
.logo {
    width: 50%;
    height: auto;
    margin-bottom: 25px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    pointer-events: none;
}

/* (Used in all Pages) */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    color: var(--text);
}

/* Container for inserting empty spaces between sections (Used in all Pages) */
.empty {
    padding: 12%;
}

/* Heading Container (concepts, wallpapers, banners, contact) */
.heading {
    padding-top: 16%;
    text-align: center;
    margin: 0 auto;
}

/* Grid Container (concepts, wallpapers, banners, contact) */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 8px 0 8px;
    grid-gap: 15px;
}

.grid a {
    text-decoration: none;
}

/* Divider (Used in all pages) */
.divider {
    margin: 10px 2%;
    --mask:
        radial-gradient(11.76px at 50% calc(100% + 7.2px), #0000 calc(99% - 2px), #000 calc(101% - 2px) 99%, #0000 101%) calc(50% - 16px) calc(50% - 5px + .5px)/32px 10px repeat-x,
        radial-gradient(11.76px at 50% -7.2px, #0000 calc(99% - 2px), #000 calc(101% - 2px) 99%, #0000 101%) 50% calc(50% + 5px)/32px 10px repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

/* Footer (Used in all pages) */
footer {
    padding: 0 .5%;
}

footer a,
footer span {
    color: var(--accent);
    font-weight: bold;
}

/* Styles for Bluesky Icon (contact) */
.bluesky {
    width: 48px;
}

.bluesky path {
    fill: var(--accent);
}

/* 404 Page (404) */
.err-container {
    padding: 0 15%;
}

.error-icon {
    font-size: 100px;
    color: var(--accent);
}

/* Media Queries */
/* For Tablets */
@media screen and (min-width: 720px) {
    .logo-container {
        height: 90vh;
    }

    .logo {
        width: 25%;
    }

    .empty {
        padding: 8%;
    }

    .heading {
        padding-top: 8%;
    }

    .grid {
        grid-gap: 25px;
    }
}

/* For Desktops */
@media screen and (min-width: 1024px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: fit-content;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-pills {
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        flex-direction: column;
        height: fit-content;
        width: 70px;
        transition: all 0.3s ease-in-out;
    }

    .nav-pills .nav-item {
        width: 100%;
    }

    .nav-pills:hover {
        width: 180px;
        align-items: flex-start;
        border-radius: 35px;
    }

    .nav-pills:hover .nav-link h5.label {
        display: flex;
    }

    .logo {
        width: 22%;
    }

    .empty {
        padding: 5%;
    }

    .heading {
        padding-top: 5%;
    }
}
