/* This file (styles.css) contains all the common styles used for all the webpages */
/* Color Palettes */

/* Light Mode */
html[data-theme="light"] {
    --text: #000;
    --background: #d3e3f6;
    --primary: #9dbadc;
    --secondary: #b9cfeA;
    --accent: #5a8cc6;
    --background0: #c9ddff;
    --blurBg: rgb(255, 255, 255, 0.5);
}

html[data-theme="light"] .divider {
    background-color: var(--primary);
}

html[data-theme="dark"] .divider {
    background-color: var(--secondary);
}

/* Dark Mode*/
html[data-theme="dark"] {
    --text: #fff;
    --background: #1f1f1d;
    --primary: #2c2c2e;
    --secondary: #454545;
    --accent: #61a2d4;
    --background0: #222222;
    --blurBg: rgb(0, 0, 0, 0.5);
}

/* Follow System */
@media (prefers-color-scheme: light) {
    html[data-theme="auto"] {
        --text: #000;
        --background: #d3e3f6;
        --primary: #9dbadc;
        --secondary: #b9cfeA;
        --accent: #5a8cc6;
        --background0: #c9ddff;
        --blurBg: rgb(255, 255, 255, 0.5);
    }

    .divider {
        background-color: var(--primary);
    }
}

@media (prefers-color-scheme: dark) {
    html[data-theme="auto"] {
        --text: #fff;
        --background: #1f1f1d;
        --primary: #2c2c2e;
        --secondary: #454545;
        --accent: #61a2d4;
        --background0: #222222;
        --blurBg: rgb(0, 0, 0, 0.5);
    }

    .divider {
        background-color: var(--secondary);
    }
}

/* Default Tags */
body {
    background: linear-gradient(45deg, var(--background0) 10%, transparent 11%, transparent 89%, var(--background0) 90%), linear-gradient(135deg, var(--background0) 10%, transparent 11%, transparent 89%, var(--background0) 90%), radial-gradient(circle, transparent 25%, var(--background) 26%), linear-gradient(45deg, transparent 46%, var(--background0) 47%, var(--background0) 52%, transparent 53%), linear-gradient(135deg, transparent 46%, var(--background0) 47%, var(--background0) 52%, transparent 53%);
    background-color: var(--background);
    background-size: 4em 4em;
    color: var(--text);
    background-attachment: fixed;
    text-align: center;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'General Sans', Arial;
    font-weight: 600;
}

h5,
h6,
li,
a {
    font-family: 'General Sans', Arial;
    font-weight: thin;
}

/* NavPill */
nav {
    position: fixed;
    width: 100%;
    height: 80px;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    z-index: 1000;
}

.nav-pills {
    --bs-nav-pills-link-active-bg: var(--accent);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blurBg);
    border-radius: 45px;
    position: fixed;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.17);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    overflow-y: hidden;
    overflow-x: hidden;
    transition: width 0.3s, align-items 0.3s;
}

.nav-pills .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
}

.nav-pills .nav-item:hover {
    background-color: var(--blurBg);
}

.nav-pills .nav-link.active {
    color: var(--text);
    background-color: var(--accent);
    border-radius: 40px;
}

.nav-pills .nav-link.active>.material-symbols-rounded {
    filter: invert(100%);
    font-variation-settings: 'FILL' 1;
}

.nav-pills .nav-link.active>.label {
    filter: invert(100%);
}

.nav-pills .nav-link {
    color: var(--text) !important;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 40px;
    white-space: nowrap;
    padding: 15px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-pills .nav-link h5.label {
    display: none;
    margin: 0 0 0 10px;
}

/* Pixel 6 Icon */
.pixel6 {
    color: var(--text);
}

/* Social Media Icons in Sidebar */
.icons-container {
    position: fixed;
    padding-bottom: 10px;
    bottom: 0;
}

/* Stlyes for Social Media Icons */
.icons-container .social-icon {
    font-size: 25px;
    color: var(--accent);
    padding: 5px;
    transition: all 0.2s ease-in;
}

.icons-container .social-icon:hover {
    transform: translateY(-5px);
}

/* Main Container for homepage in which logo and name is wrapped (index)*/
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80vh;
}

/* Logo */
.logo {
    width: 50%;
    height: auto;
    margin: 25px;
    pointer-events: none;
}

/* (Used in all Pages) */
.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    color: var(--text);
}

/* Container for inserting empty spaces between sections (Used in all Pages) */
.empty {
    padding: 12%;
}

/* Heading Container (concepts, wallpapers, banners, contact) */
.heading {
    padding-top: 16%;
    text-align: center;
    margin: 0 auto;
}

/* Grid Container (concepts, wallpapers, banners, contact) */
.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 8px 0 8px;
    grid-gap: 15px;
}

.grid a {
    text-decoration: none;
}

/* Divider (Used in all pages) */
.divider {
    margin: 10px 5%;
    --mask:
        radial-gradient(7.71px at 50% calc(100% + 3px), #0000 calc(99% - 2px), #000 calc(101% - 2px) 99%, #0000 101%) calc(50% - 12px) calc(50% - 4px + .5px)/24px 8px repeat-x,
        radial-gradient(7.71px at 50% -3px, #0000 calc(99% - 2px), #000 calc(101% - 2px) 99%, #0000 101%) 50% calc(50% + 4px)/24px 8px repeat-x;
    -webkit-mask: var(--mask);
    mask: var(--mask);
}

/* Footer (Used in all pages) */
footer {
    padding: 0 .5%;
}

footer a,
footer span {
    color: var(--accent);
    font-weight: bold;
}

/* Styles for Bluesky Icon (contact) */
.bluesky {
    width: 48px;
}

.bluesky path {
    fill: var(--accent);
}

/* 404 Page (404) */
.err-container {
    padding: 0 15%;
}

.error-icon {
    font-size: 100px;
    color: var(--accent);
}

/* Media Queries */
/* For Tablets */
@media screen and (min-width: 720px) {
    .logo {
        width: 25%;
    }

    .empty {
        padding: 8%;
    }

    .heading {
        padding-top: 8%;
    }

    .grid {
        grid-gap: 25px;
    }
}

/* For Desktops */
@media screen and (min-width: 1024px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: fit-content;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav-pills {
        display: flex;
        justify-content: center;
        align-items: center;
        position: static;
        flex-direction: column;
        height: fit-content;
        width: 70px;
        transition: all 0.3s ease-in-out;
    }

    .nav-pills .nav-item {
        width: 100%;
    }

    .nav-pills:hover {
        width: 180px;
        align-items: flex-start;
        border-radius: 35px;
    }

    .nav-pills:hover .nav-link h5.label {
        display: flex;
    }

    .logo {
        width: 22%;
    }

    .empty {
        padding: 5%;
    }

    .heading {
        padding-top: 5%;
    }
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: var(--background);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--accent);
}